@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: rgb(10, 12, 28);
    padding: 88px 24px;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.content {
    display: flex;
    border-radius: 8px;
    box-shadow: 0px 20px 20px -10px rgba(23, 25, 41, 0.2);
    background: rgb(27, 25, 55);
    overflow: hidden;
}

.content-left {
    flex-basis: 547px;
    flex-shrink: 1;
    padding: 71px 72px 59px;
}

.content-right {
    flex-basis: 540px;
    flex-shrink: 1;
    margin-left: auto;
}

.content-img-wrap {
    width: 100%;
    height: 100%;
    background-color: rgb(171, 92, 219);
    position: relative;
}

.content-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    mix-blend-mode: multiply;
    opacity: 0.75;

}


.content-title {
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0px;
    text-align: left;
    color: rgb(255, 255, 255);

}

.content-title>span {
    color: rgb(171, 92, 219);
}

.content-text {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    opacity: 0.75;
    margin: 25px 0 72px;
}

.stats {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.stat-item:nth-child(2) {
    margin-left: 1.5px;
}

.stat-item:last-child {
    margin-right: 52px;
}

.stat-item-title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: left;
}

.stat-item-text {
    color: rgb(255, 255, 255);
    font-family: "Lexend Deca";
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 2px;
}

@media screen and (max-width: 768px) {
    .content {
        flex-direction: column-reverse;

    }

    .content-left {
        flex-basis: auto;
        padding: 40px 32px 32px;
    }

    .content-left>* {
        text-align: center;
    }

    .content-right {
        /* flex-basis: auto; */
        width: 100%;
        flex-basis: 3px;
    }

    .stat-item:last-child {
        margin-right: 0;
    }

}

@media screen and (max-width:576px) {
    .content-title {
        font-size: 24px;
        line-height: 32px;
    }

    .stats {
        flex-direction: column;
        align-items: center;
    }

    .stats-item {
        margin: 0;
        text-align: center;
    }

    .stats-item:nth-child(2) {
        margin-left: 0;
    }

    .stats-item-title,
    .stat-item-text {
        text-align: center;
    }

    .conten-text {
        margin: 16px 0 40px;
    }
}